svg#bolt-logo(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 228.8 90.8', enable-background='new 0 0 228.8 90.8', xml:space='preserve')
  g
    path(fill='#FFFFFF', opacity=0, d='M24.5,0v53.6c0,8.7,3.1,13,9.4,13c2.7,0,4.9-0.9,6.8-2.7c1.9-1.8,2.8-4,2.8-6.6c0-2.7-0.9-4.9-2.6-6.7\
      c-1.7-1.8-3.9-2.7-6.4-2.7c-1.8,0-3.8,0.8-6.2,2.4v-27c2.9-0.3,5.1-0.4,6.6-0.4c9.2,0,17.1,3.3,23.7,10c6.6,6.6,9.9,14.6,9.9,24\
      c0,9.6-3.3,17.6-10,24.2c-6.7,6.6-14.9,9.8-24.6,9.8c-4.9,0-9.7-1.1-14.3-3.2c-4.7-2.1-8.5-5-11.5-8.7C2.6,72.6,0,64.5,0,54.5V0\
      H24.5z')
    | &#x9;
    path(fill='#FFFFFF', opacity=0, d='M107.9,22.7c9.3,0,17.2,3.3,23.8,10c6.6,6.7,9.9,14.7,9.9,24c0,9.4-3.4,17.5-10.1,24.1\
      c-6.7,6.6-14.8,10-24.3,10c-9.5,0-17.6-3.3-24.3-10c-6.7-6.7-10.1-14.7-10.1-24.1c0-9.6,3.4-17.6,10.1-24.2\
      C89.8,26,98.1,22.7,107.9,22.7z M107.3,46.9c-2.6,0-4.9,1-6.7,2.9c-1.8,1.9-2.8,4.2-2.8,7c0,2.7,0.9,5,2.8,6.9\
      c1.9,1.9,4.1,2.9,6.7,2.9c2.6,0,4.9-1,6.7-2.9c1.9-1.9,2.8-4.2,2.8-6.9c0-2.8-0.9-5.1-2.8-7C112.2,47.9,109.9,46.9,107.3,46.9z')
    | &#x9;
    path(fill='#FFFFFF', opacity=0, d='M150.1,0h26.6v53.2c0,4.2,0.7,6.9,2,8.3c1.3,1.4,4,2.1,7.9,2.1h1.4v26h-7.1c-9.7,0-17.3-2.8-22.7-8.5\
      c-5.4-5.7-8.1-13.5-8.1-23.6V0z')
    | &#x9;
    path(fill='#FFFFFF', opacity=0, d='M217.3,0v25h11v25.9h-11c0,5.2,0.8,8.8,2.5,10.8c1.6,2,4.6,2.9,9,2.9v25.8c-1.3,0-2.2,0.1-2.8,0.1\
      c-5.6,0-10.8-1.3-15.7-3.9c-4.9-2.6-8.9-6.1-11.8-10.5c-3.8-5.6-5.6-13.1-5.6-22.4V0H217.3z')
