// if prod, include and inject css libraries so only 1 file is created
if prod
  for path in libs
    @import url('../' + path)

@require "nib"          // Nib is awesome: http://visionmedia.github.io/nib/
@require "mixins/*"     // bring in mixins
@require "base/*"       // import base styles, ready for extending
@require "modules/*"    // where most of your css should go for custom styles