// Mobile First Custom Break Points
$small-phone=               "(min-width: 360px)"
$phone=                     "(min-width: 480px)"
$phablet=                   "(min-width: 768px)"
$tablet=                    "(min-width: 1024px)"
$laptop=                    "(min-width: 1440px)"
$desktop=                   "(min-width: 1920px)"

$portrait=                  "(orientation:portrait)"
$landscape=                 "(orientation:landscape)"

// Complimentary Mobile First Queries
$small-phone-max=           "(max-width: 360px)"
$phone-max=                 "(max-width: 480px)"
$phablet-max=               "(max-width: 768px)"
$tablet-max=                "(max-width: 1024px)"
$laptop-max=                "(max-width: 1440px)"
$desktop-max=               "(max-width: 1920px)"

// More specific queries
$mobile-small               = "(min-width: 0px) and (max-width: 360px) and (orientation: portrait)"
$mobile-large               = "(min-width: 361px) and (orientation: portrait)"
$mobile-small-landscape     = "(min-width: 0px) and (max-width: 480px) and (orientation: landscape)"
$mobile-large-landscape     = "(min-width: 481px) and (orientation: landscape)"
$tablet-small-landscape     = "(min-width: 600px) and (max-width: 960px) and (orientation: landscape)"
$tablet-large-landscape     = "(min-width: 961px) and (orientation: landscape)"
$tablet-small               = "(min-width: 600px) and (orientation: portrait)"
$tablet-large               = "(min-width: 601px) and (max-width: 840px) and (orientation : portrait)"
$desktop-x-small-landscape  = "(min-width: 0px) and (max-width: 480px) and (min-aspect-ratio: 4/3)"
$desktop-x-small            = "(min-width: 0px) and (max-width: 480px) and (max-aspect-ratio: 4/3)"
$desktop-small-landscape    = "(min-width: 481px) and (max-width: 840px) and (min-aspect-ratio: 4/3)"
$desktop-small              = "(min-width: 481px) and (max-width: 840px) and (max-aspect-ratio: 4/3)"
$desktop-medium-landscape   = "(min-width: 841px) and (max-width: 1280px) and (min-aspect-ratio: 4/3)"
$desktop-medium             = "(min-width: 841px) and (max-width: 1280px) and (max-aspect-ratio: 4/3)"
$desktop-large              = "(min-width: 1281px) and (max-width: 1600px)"
$desktop-xlarge             = "(min-width: 1601px) and (min-width: 1920px)"
