// Brand and style colors
$light-text-color=          hsl(0, 0%, 90%)
$text-color=                hsl(0, 0%, 100%)
$dark-text-color=           hsl(0, 0%, 20%)

$brand-color=               hsl(181, 100%, 37%)
$dark-brand-color=          darken($brand-color, 15%)
$darker-brand-color=        darken($brand-color, 30%)
$light-brand-color=         lighten($brand-color, 15%)
$lighter-brand-color=       lighten($brand-color, 30%)

$brand-background-color=    hsl(0, 0%, 0%)
$dark-background-color=     hsl(0, 0%, 0%)

// Animation custom ease
$super-ease-out=            cubic-bezier(0,.60,0,1)
$bounce=                    cubic-bezier(0.175, 0.885, 0.32, 1.275)

// Mobile First Custom Break Points
$phone=                     "(min-width: 480px)"
$phablet=                   "(min-width: 768px)"
$tablet=                    "(min-width: 1024px)"
$laptop=                    "(min-width: 1440px)"
$desktop=                   "(min-width: 1920px)"

$portrait=                  "(orientation:portrait)"
$landscape=                 "(orientation:landscape)"

// Complimentary Queries
$phone-small=               "(max-width: 340px)"
$phone-max=                 "(max-width: 480px)"
$phablet-max=               "(max-width: 768px)"
$tablet-max=                "(max-width: 1024px)"
$laptop-max=                "(max-width: 1440px)"
$desktop-max=               "(max-width: 1920px)"
