// Brand and style colors
$light-text-color=          hsl(0, 0%, 80%)
$text-color=                hsl(0, 0%, 30%)
$dark-text-color=           hsl(0, 0%, 10%)

$brand-color=               hsl(181, 100%, 37%)
$dark-brand-color=          darken($brand-color, 15%)
$darker-brand-color=        darken($brand-color, 30%)
$light-brand-color=         lighten($brand-color, 15%)
$lighter-brand-color=       lighten($brand-color, 30%)

$brand-background-color=    hsl(0, 0%, 100%)

// Fonts
$main-font-family=          'Helvetica Neue', sans-serif
$main-light-font-family=    sans-serif-light, 'Helvetica Neue', sans-serif

// Animation custom ease
$super-ease-out=            cubic-bezier(0,.60,0,1)
$bounce=                    cubic-bezier(0.175, 0.885, 0.32, 1.275)