// Brand and style colors
$light-text-color=          hsl(0, 0%, 40%)
$text-color=                hsl(0, 0%, 80%)
$dark-text-color=           hsl(0, 0%, 20%)

$brand-color=               hsl(181, 100%, 37%)
$dark-brand-color=          darken($brand-color, 15%)
$darker-brand-color=        darken($brand-color, 30%)
$light-brand-color=         lighten($brand-color, 15%)
$lighter-brand-color=       lighten($brand-color, 30%)

$brand-background-color=    hsl(0, 0%, 0%)