// try to keep this file about block level elements and their high level/overall usage as a component
figure, header, section, article
  position:relative

img
  max-width: 100%
  height:auto
  vertical-align:middle

input,
button,
select,
textarea
  font-family: inherit
  font-size: inherit
  line-height: inherit

// nav

article
  margin:0 auto
  @media $tablet
    max-width:700px

section
  padding:2rem
