html
  font-size:100%
  line-height:1.5
  font-family:$main-font-family
  color:$text-color
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased

body, p
  font-weight:300
  font-size:1.1rem
  color: $text-color

p.lead
  font-size:1.3rem
  font-weight:lighter

.font-thin
  font-weight:100
  font-weight:lighter
  font-family:$main-light-font-family

.font-normal
  font-weight:300

.font-bold
  font-weight:500
  font-weight:bold

h1,h2,h3,h4,h5,h6
  @extend .font-normal
  color:$text-color
  margin:1rem 0

h1
  font-size:4rem

h2
  font-size:3rem

h3
  font-size:2.5rem

h4
  font-size:2rem

h5
  font-size:1.5rem

h6
  font-size:1rem

.text-right
  text-align:right

.text-left
  text-align: left

.text-center
  text-align: center

.light-text
  color: $light-text-color

.dark-text
  color: $dark-text-color

.truncate
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
