@keyframes fadeOut
	0%
		opacity:1
	100%
		opacity:0

@keyframes fadeInLeft
	0%
		opacity: 0
		transform: translateX(-15px)
	70%
		opacity: 0
		transform: translateX(-15px)
	100%
		opacity: 1
		transform: translateX(0)

@keyframes fadeOutRight
	0%
		opacity: 1
		transform: translateX(0)
	70%
		opacity: 1
		transform: translateX(0)
	100%
		opacity: 0
		transform: translateX(15px)

@keyframes slideInUp
	0%
		opacity: 0
		transform: translateY(100%)
	100%
		opacity: 1
		transform: translateY(0)

@keyframes spin
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)