html
  min-height: 100%

*
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)  
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  box-sizing:border-box

@media all and (orientation:portrait)
  @-ms-viewport
    user-zoom: fixed
    max-zoom: 1
    min-zoom: 1

body
  background-color: brand-background-color
  color: text-color
  height: 100%
  overflow-y: auto
  overflow-x: hidden
  margin:0
  @extend .font-thin