// DELETE ME, DEMO PURPOSE ONLY =)

header, footer
  height:110vh
  background:url(../assets/images/bolt.jpg) bottom center no-repeat
  background-size:cover
  padding-top:40vh
  
footer
  height:40vh
  transform:rotate(180deg)
  
#bolt-logo
  max-width:25vw
  filter:drop-shadow(0 0 10px hsla(0,0%,0%,40%))
  path
    fill:white
  
.github
  absolute top right
  border:0
  z-index:1

dd
  margin:-1rem 0 1rem 0
  
section > h1
  margin:5rem 0

.checklist 
  > dt:not(:first-child)
    margin-top:15rem
  h3
    margin-bottom:0 
    sticky()
    top:0
    background:$brand-background-color
  .hint-text
    margin-top:0
  
.push-bottom
  margin-bottom:1rem