// http://axis.netlify.com/#buttons

.btn
  button()
  
  &.dark
    button: #333
    
  &.light
    button: #eee
    
  &.glossy
    glossy-button()
    
  &.large
    button: $brand-color 'large'
    
  &.small
    button: $brand-color 'small'

  &.disabled
    button-disabled()