//- Add to homescreen for Safari on iOS
meta(name='apple-mobile-web-app-capable' content='yes')
meta(name='apple-mobile-web-app-status-bar-style' content=data.meta.theme)
meta(name='apple-mobile-web-app-title' content=data.project.name)
link(rel='apple-touch-icon' href='/assets/icons/apple-touch-icon.png')
link(rel='apple-touch-startup-image' href='/assets/icons/startup.png')
//- Safari Pin Tab Styles
link(rel='icon' sizes='any' mask href='/safari-pinned-tab.svg')
