extends _pug/layouts/page

block content
  header.grid.center-center: section.text-center
    h2.text-thin Bolt v#{project.version}, ready to go.
    p 
      | Feedback is welcome! 
      +link({
        text: 'Bolt on GitHub'
      , url:  'https://github.com/argyleink/Bolt'
      , blank: true
      })

  article: section
    h5 Example Pug Data Loop
    small Array sourced from _data/social.yml

    ul
      each item in data.social
        li: +link({
          text:   item.name
        , url:    item.url
        , blank:  true
        })
