extends _pug/layouts/page

block content
  header.row.center-xs.middle-xs
    h2.col-xs.text-thin Bolt v#{project.version} is working and ready!

  article: section
    h5 Thanks for using it! Feedback is very welcome! Follow me on:
    dl
      each item in data.social
        dt= item.name
        dd: +link({
          text:   item.username,
          url:    item.url,
          blank:  true
        })
