extends _jade/layouts/page

//- use these if you like to control page titles and SEO descriptions
block title
	title Index Page

block description
	meta(name='description', content='Index page description')

//- use this to append special css for a page or overwrite the css entirely
//- block append css
//- 	link(rel='stylesheet', href='path/to/your/file')

block content
	nav
		a(href='#') Link 1
		a(href='#') Link 2
		a(href='#') Link 3

	header.text-center
		h2 Bolt has completed :)
		p.hint-text This isn't a pretty splash page, but you're going to delete it anyway!
		p If you do delete all this, delete any stylus files you dont need too

	article
		h2 Buttons
		.btn Button 1
		.btn.dark Button Dark
		.btn.light Button Light
	
	article
		h1 Title h1
		h2 Title h2
		h3 Title h3
		h4 Title h4
		h5 Title h5
		h6 Title h6

	article
		h4 Jade Template List
		p.hint-text I'm client-side Jade, fully qualified and ready for inheritance, mixins, etc.
		section#list-template-example

	article
		h4 AJAX Example
		section#ajax-example

//- use this to append or overwrite the js for a page or overwrite the js entirely
//- block append js
//- 	script(src='your/script.js')
