extends _jade/layouts/page
include _jade/mixins/link

block content
	include _jade/includes/nav

	header.text-center
		include _jade/includes/svg/bolt

	article
		section
			include _jade/demo/intro

		section
			include _jade/demo/included

		section
			h1.text-center: u Features
			
			dl.checklist
				include _jade/demo/mobile-first
				include _jade/demo/axis
				include _jade/demo/bower
				include _jade/demo/polyfills
				include _jade/demo/typography
				include _jade/demo/svg
				include _jade/demo/buttons
				include _jade/demo/templates
				include _jade/demo/cruft

		section.text-center
			h5 Brought to you by
			div: +link('ArgyleInk', 'http://argyleink.com/', true)
			|  && 
			div: +link('Deloitte Digital', 'http://www.deloittedigital.com/us/', true)

	footer
