//
  Client side jade template example, see app/js/template-example.js & app/_jade/client-templates
  Bolt lets you use the same templates for static site generation as you do in your client templates. Shared mixins, vars, etc. If you wanted, you could render the same jade on the server too! Jade all the things.
  Don't want/need this? Follow the wiki instructions for removing client side jade templates

p.lead Example client side jade template rendered against data
#list-template-example