//- OH NO, JS in the head!
//- Yes, we want to block rendering until we've polyfilled, with vanilla js
//- Goal: Prevent flashes of unstyled content (FOUC)
//- Allows: CSS and JS alterations to happen, I use it mostly for CSS edge case fixes and stuff

//- https://github.com/argyleink/Mobile-Detection
//- device-detect.js is a project of mine, use whateva ya want =) 
//- it gets crunched with shiv.js to make polyfill.js below
script(src='js/polyfill.js')