if dev
  //- load libs from build.coffee vendor_files object array
  each path in bower
    script(src=path)

  script(src='js/templates.js')
  script(src='js/app.js')
  //- more of your app scripts here!
  script(src='js/template-example.js')
  
else
  //- dont let libs get too big =)
  script(src='js/lib.min.js')
  script(src='js/app.min.js', async)
