if dev
  //- load libs bower
  each path in libs
    script(src=path)

  //- load app js files from app.coffee
  each file in app_files.js.src
    script(src=file)

else
  script(src='js/app.min.js', async)
