if dev
  //- load libs bower
  each path in bower
    script(src=path)

  //- load app js files from app.coffee
  each file in app_files.js.app
    script(src=file)

else
  script(src='js/lib.min.js')
  script(src='js/app.min.js', async)
