.spacer 
  h3 Buttons
  dt
    p.hint-text You're going to need buttons, Bolt utilizes Axis for really easy nice buttons. 

    .btn .btn
    .btn.dark .btn.dark
    .btn.light .btn.light
    .btn.glossy .btn.glossy
    .btn.disabled .btn.disabled
    br
    .btn.small .btn.small
    .btn.large .btn.large

  dd: section 
    h5.text-center Need this?

    p: b YES: 

    div.push-bottom
      code styles/modules/buttons.styl
      div Pop this file open and all your questions will be answered =)

  dd: section
    b NO: 
    div Just remove buttons.styl, and you're done