dt 
  h3 Buttons
  p.hint-text Bolt puts all the typography styles into one place. 

  .btn .btn
  .btn.dark .btn.dark
  .btn.light .btn.light
  .btn.glossy .btn.glossy
  .btn.disabled .btn.disabled
  br
  .btn.small .btn.small
  .btn.large .btn.large

dd: section 
  p: b YES: 

  div.push-bottom
    code styles/base/typography.styl
    div Add, remove, whatever to this file. It's all yours. Note: Axis has some typography utilities also if you want/like theirs better.

dd: section
  b NO: 
  div Just remove typography.styl, and you're done