h6.hint-text Brought to you by 
a(href='http://argyleink.com/', target='_blank')
  img(src='http://argyleink.com/img/argyle-ink.png', style='max-width:125px; margin-right:3rem;')
a(href='http://www.deloittedigital.com/', target='_blank')
  img(src='http://www.deloittedigital.com/assets/img/common/logo-deloitte-digital.png', style='max-width:300px')