.spacer 
  h3 Cruft
  dt
    p.hint-text Bolt also comes with a bunch of crap, aka, this documentation and instruction. You'll want to get rid of this, I assume.

  dd: section 
    h5.text-center Need this?
    
    p: b YES: 

    div.push-bottom
      code _jade/demo/*
      div Everything this demo needs is in the demo folder. Reference it if you want, it's yours now.

  dd: section
    b NO: 
    div Cool, let's clean this project up so you can get started!
    ul
      li Delete _jade/demo folder
      li Open index.jade and delete all the references to demo includes
      li Delete the bolt.styl file from styles/modules folder
      li Follow any other instructions on this page to help you remove other types of cruft code =)