dt 
  h3 Cruft
  p.hint-text Bolt also comes with a bunch of crap, aka, this documentation and instruction. You'll want to get rid of this.

dd: section 
  h5.text-center Need this?
  
  p: b YES: 

  div.push-bottom
    code styles/base/typography.styl
    div Add, remove, whatever to this file. It's all yours. Note: Axis has some typography utilities also if you want/like theirs better.

dd: section
  b NO: 
  div Just remove typography.styl, and you're done