h5.text-center What's Included

p.lead 
  | Bolt comes ready with 
  +link('Jade', 'http://jade-lang.com/', true)
  | , 
  +link('Stylus', 'https://learnboost.github.io/stylus/', true)
  | , 
  +link('Bower', 'http://bower.io/', true)
  | , 
  +link('Axis', 'http://axis.netlify.com/#gradients', true)
  | , 
  | and all synced and served hot with 
  +link('BrowserSync', 'http://www.browsersync.io/', true)
  | . This ain't no huge gruntfile either, you'll be managing easy small chunks from a central config coffeescript file. Booyah.

p.lead These tools can help you build nearly anything for the web. So let me guide you through a few use cases and features, so you can get the most out of Bolt.