p.lead 
  | Bolt is a static site build tool, inspired by 
  +link('Google Web Starter Kit', 'https://developers.google.com/web/starter-kit/', true)
  | , 
  +link('Roots', 'http://roots.cx/', true) 
  | , and the 
  +link('HTML5 MBP', 'https://github.com/h5bp/html5-boilerplate', true)
  | . Focusing on best practices for page speed, mobile performance, and automated deployments. This Grunt based toolchain gets you on the fast track for rapid web app creation. 