include ../mixins/detail-item
include ../mixins/link
include ../mixins/og-meta
include ../mixins/twitter-meta

doctype html
html(manifest = dev ? '' : 'manifest.appcache')
  include ../includes/head

  block title
    title= data.meta.title

  block description
    meta(name='description', content=data.meta.description)

  block css
    link(rel='stylesheet', href='styles/app.css')

  body
    block content

    block scripts
      include ../includes/scripts