doctype html
html(manifest = dev ? '' : 'manifest.appcache')
  include ../includes/head
    
  block title
    title= project.name

  block description
    meta(name='description', content='Default page description')

  block css
    //- master.styl combines all our modules into this file
    link(rel='stylesheet', href='styles/app.css')

  include ../includes/polyfill

  body
    block content
      h1 Default Test Title

    block scripts
      include ../includes/scripts