// Brand and style colors
light-text-color=          hsl(0, 0%, 90%)
text-color=                hsl(0, 0%, 100%)
dark-text-color=           hsl(0, 0%, 20%)
brand-color=               hsl(181, 100%, 37%)
dark-brand-color=          hsl(187, 100%, 21%)
darker-brand-color=        hsl(187, 100%, 13%)
brand-background-color=    hsl(0, 0%, 8%)
dark-background-color=     rgb(5,5,5)

// Animation custom ease
super-ease-out=            cubic-bezier(0,.60,0,1)
bounce=                    cubic-bezier(0.175, 0.885, 0.32, 1.275)

// Our custom break points (matches values of Bootstrap 3)
phone=                     "(min-width: 480px)"
tablet=                    "(min-width: 768px)"
laptop=                    "(min-width: 992px)"
desktop=                   "(min-width: 1200px)"

// So media queries don't overlap when required, provide a maximum
phone-small=               "(max-width: 340px)"
phone-max=                 "(max-width: 480px)"
tablet-max=                "(max-width: 767px)"
laptop-max=                "(max-width: 991px)"
desktop-max=               "(max-width: 1199px)"

portrait=                  "(orientation:portrait)"
landscape=                 "(orientation:landscape)"
