.icon
  font-family: 'icon-font'
  position: relative
  font-style: normal
  
  &.light
    color:light-text-color

  &.dark
    color:dark-text-color

  &.after
    margin-right:0
    margin-left:0.5em

.brand-color
  color: brand-color !important

.light-text
  color: light-text-color

.dark-text
  color: dark-text-color
