//- Add to homescreen for Chrome on Android 
meta(name='mobile-web-app-capable', content='yes')
meta(name='theme-color', content='#000000')
link(rel='icon', sizes='192x192', href='img/chrome-touch-icon.png')