//- Tile icon for Win8 (144x144 + tile color) 
meta(name='msapplication-TileImage', content='img/ms-touch-icon.png')
meta(name='msapplication-TileColor', content='#000000')
meta(name='application-name', content='Bolt App')
//- meta(name='msapplication-square70x70logo', content='images/tiles/acme-tile-small.png')
//- meta(name='msapplication-square150x150logo', content='images/tiles/acme-tile-medium.png')
//- meta(name='msapplication-wide310x150logo', content='images/tiles/acme-tile-wide.png')
//- meta(name='msapplication-square310x310logo', content='images/tiles/acme-tile-large.png')
