head
  meta(charset='utf-8')
  meta(name='viewport', content='initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
  meta(name='msapplication-tap-highlight', content='no')
  meta(name='HandheldFriendly', content='true')
  meta(name='description', content='')
  link(rel='icon', type='image/png', href='img/favicon.png')

  title App

  //- master.styl combines all our modules into this file
  link(rel='stylesheet', href='styles/master.css')
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')