if dev
  //- first script loads css clientside, sets namespace
  script(src='js/detect-and-fill.js')

  //- then load lib dependencies
  script(src='js/lib.min.js')

  //- Load modules here, aysnc if you want
  script(src='js/app.js', async)
  //- script(src='js/modules.js', async)

  //- Remote Debugging with Weinre, uncomment and swap your comp's IP to enable
  //- TODO: make an IP var that's passed in from jade.coffee and use it here for dynamic IP
  //- script(src='http://10.1.11.13:8081/target/target-script-min.js#anonymous')
  
else
  //- first script injects css onto page if needed
  script(src='js/detect-and-fill.js')

  //- then load lib dependencies
  script(src='js/lib.min.js')

  //- last all your app logic bundled up
  script(src='js/app.min.js', async)
