if dev
  script(src='js/detect-and-fill.js')
  script(src='js/lib.min.js')
  script(src='js/app.js')
  script(src='js/templates.js')

  //- Remote Debugging with Weinre, uncomment and swap your comp's IP to enable
  //- script(src='http://10.1.11.13:8081/target/target-script-min.js#anonymous')
  
else
  script(src='js/detect-and-fill.js')
  script(src='js/lib.min.js')
  script(src='js/app.js')

  //- Analytics
  //- script.
  //-   heap.load("1929493658"); 
